{{/*
  Partial: google_analytics.html
  Looks for GA Measurement ID in these locations (in order):
    1. .Site.Params.googleAnalytics
    2. .Site.Params.googleAnalyticsID
  Supports GA4 (G-XXXX) and legacy UA-XXXXX IDs.
*/}}
{{- /* Look for GA ID in .Site.Params only (safe across template contexts). */ -}}
{{- $ga := "" -}}
{{- if isset .Site.Params "googleAnalytics" -}}{{- $ga = .Site.Params.googleAnalytics -}}{{- else if isset .Site.Params "googleanalytics" -}}{{- $ga = .Site.Params.googleanalytics -}}{{- else if isset .Site.Params "googleAnalyticsID" -}}{{- $ga = .Site.Params.googleAnalyticsID -}}{{- else if isset .Site.Params "googleanalyticsid" -}}{{- $ga = .Site.Params.googleanalyticsid -}}{{- end -}}
 

{{- if $ga }}
  {{- /* GA4 */}}
  {{- if (in $ga "G-") }}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ $ga }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);} 
  gtag('js', new Date());
  gtag('config', '{{ $ga }}', { 'anonymize_ip': true });
</script>
  {{- else }}
  {{- /* Universal Analytics fallback (UA-) */}}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', '{{ $ga }}', 'auto');
  ga('set', 'anonymizeIp', true);
  ga('send', 'pageview');
</script>
  {{- end }}
{{- end }}
