{{/*
  Partial: google_analytics.html
  Looks for GA Measurement ID in these locations (in order):
    1. .Site.Params.googleAnalytics
    2. .Site.Params.googleAnalyticsID
  Supports GA4 (G-XXXX) and legacy UA-XXXXX IDs.
*/}}
{{- /* Look for GA ID in .Site.Params only (safe across template contexts). */ -}}
{{- $ga := "" -}}
{{- if isset .Site.Params "googleAnalytics" -}}{{- $ga = .Site.Params.googleAnalytics -}}{{- else if isset .Site.Params "googleanalytics" -}}{{- $ga = .Site.Params.googleanalytics -}}{{- else if isset .Site.Params "googleAnalyticsID" -}}{{- $ga = .Site.Params.googleAnalyticsID -}}{{- else if isset .Site.Params "googleanalyticsid" -}}{{- $ga = .Site.Params.googleanalyticsid -}}{{- end -}}
 

{{- if $ga }}
<script>
// Expose loader to be triggered after cookie consent
(function(){
  try{
    window._ga_measurement_id = '{{ $ga }}';
    window.loadGoogleAnalytics = function(){
      var id = window._ga_measurement_id;
      if(!id) return;
      if(id.indexOf('G-') === 0){
        if(document.querySelector('script[data-ga-loaded]')) return;
        var s = document.createElement('script'); s.async = true; s.src = 'https://www.googletagmanager.com/gtag/js?id=' + id; s.setAttribute('data-ga-loaded','1'); document.head.appendChild(s);
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);} window.gtag = gtag;
        gtag('js', new Date());
        gtag('config', id, { 'anonymize_ip': true });
      } else {
        // UA fallback: load analytics.js and init
        if(window.ga) return;
        var s = document.createElement('script'); s.async = true; s.src = 'https://www.google-analytics.com/analytics.js'; document.head.appendChild(s);
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments);}; ga.l = +new Date;
        window.ga('create', id, 'auto'); window.ga('set','anonymizeIp', true); window.ga('send','pageview');
      }
    };
    // Auto-load only if consent already granted
    try{ if(localStorage && localStorage.getItem('cookie_consent') === 'granted'){ window.loadGoogleAnalytics(); } }catch(e){}
  }catch(e){}
})();
</script>
{{- end }}
